.panel {
    margin-left: 10%;
    width: 60%;
}

.panel textarea {
    width: 90%;
    height: 250px;
    background-color: #f6f6f6;
}

.alert-warning {
    transition : 2s;
}

.alert-danger {
     transition : 2s;
 }

.alert-info {
    transition : 2s;
}